
    *{
        background-color:#1A1423;
        font-style: oblique;
        color:white;
         box-sizing:border-box;
        
      }
      body{
        font-size: 20px;
      
      }
    
    p {
    font-size: 20px;
    margin-left: 5px;
    }
 .container {
    background-color:#1A1423;
    border:none;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    width:80%;
    grid-gap: 30px;
    }


 #header {
     padding:20px;
     grid-area: header;
     align-self: stretch;
     border: 5px dashed rgb(255, 255, 255);

}
.titlebox::before {
    position:absolute;
    content: attr(name);
    margin: -20px 60px;
    background: #1a1423;
    font-size: 30px;
    border-radius:5px;
    }

#header:hover{
    color:rgb(90, 42, 42);
}
 #about {  
     grid-area:about;
     align-self: stretch;
     border: 5px dashed rgb(255, 255, 255);
       
        
  }


  #about:hover { 
    animation: shake 75ms infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes shake {
    0% { transform: rotate(0.5deg); }
    50% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0.5deg); }
  }

#experience
{
grid-area: experience;
align-self: stretch;
border: 5px dashed rgb(255, 255, 255);

}

#experience .item {
  display: flex;
  justify-content: space-around;
  padding:30px;
  
}
#experience .item .jobtitle {   width: 40%;}

#experience .item .details{  width: 60%; }
  

#experience:hover .titlebox {
    transition: all ease-in-out 1s;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s ; /* Safari 4.0 - 8.0 */
    animation: mymove 5s ;
    
    }


#skills
{
 grid-area: skills;
 border: 5px dashed rgb(255, 255, 255);
 align-self: stretch;
 }
    
 
 #skills:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
    
 }
    
ul{
        
    list-style:none;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-evenly;

    
    
}
    
li span.tooltiptext{
    display:none;
    
    
} 
    
li:hover span.tooltiptext{
    visibility: visible;
    
    
 } 
    
    
.box {
    display: flex;
    align-items:center; 
    cursor: pointer;
    }
    
.borderskill{
    display:inline-block;
    border:3px solid white;
    
}
    
.pic
    {
      width: 50px;
      height: 30px;
 }
    


#three:hover{
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite; 
        opacity: 0.5;
      }
      
      
#four:hover{
        animation: alertPulse 2s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
        background: rgb(223, 58, 58); 
      }
      
#seven:hover {
        text-shadow: 0px 0px 0 rgb(208,138,28),1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
      rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0
      rgb(63,41,8),13px 13px 0
      }
      
      
#six:hover{
        -ms-transform: scaleY(1.5); 
        -webkit-transform: scaleY(1.5); 
        transform: scaleY(1.5);
      
      }
      
      
      #one:hover{
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
      }
      
      #two:hover
      {
          background:white;
      
      }
      
      #two{
        -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
        -ms-transition:all 0.5s ease-out;
        -o-transition:all 0.5s ease-out;
        transition:all 0.5s ease-out;
      }
      
      #two:hover {
        -webkit-transform:scale(.7);
        -moz-transform:scale(.7);
        -ms-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7);
      }
      
      #three {
        -webkit-transition:all .3s ease-out;
        -moz-transition:all .3s ease-out;
        -ms-transition:all .3s ease-out;
        -o-transition:all .3s ease-out;
        transition:all .3s ease-out;
      }
      
      #three:hover{
        -webkit-transform:translate(0px,10px);
        -moz-transform:translate(0px,10px);
        -ms-transform:translate(0px,10px);
        -o-transform:translate(0px,10px);
        transform:translate(0px,10px);
      }
      
      
      #four {
        -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
        -ms-transition:all 0.5s ease-out;
        -o-transition:all 0.5s ease-out;
        transition:all 0.5s ease-out;
      }
      
      #four:hover {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
      }
      
      #five {
        -webkit-transition:all .3s ease-out;
        -moz-transition:all .3s ease-out;
        -ms-transition:all .3s ease-out;
        -o-transition:all .3s ease-out;
        transition:all .3s ease-out;
      }
      
      #five:hover {
        -webkit-transform:translate(0px,-10px);
        -moz-transform:translate(0px,-10px);
        -ms-transform:translate(0px,-10px);
        -o-transform:translate(0px,-10px);
        transform:translate(0px,-10px);
      }
      
      
      
      
      .box .ttext{
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align:center;
        border-radius: 10px;
        padding: 5px 0;
      
        
        position:relative;
      
      }
      
      .box:hover .ttext{
        visibility: visible;
      }
      
      
    #footer {
     grid-area: footer;
     align-self: stretch;
     border: 5px dashed rgb(255, 255, 255);
        }



    @media only screen and (min-width : 360px) {
    .container {
    
    width: 90vw;
    grid-template-rows: 15% 20% 50% 15% 10%;
    grid-template-areas: "header"
    "about"
    "experience"
    "skills"
    "footer";
    }



    ul{
        
        list-style:none;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        
        
    }

    }



    @media only screen and (min-width : 768px) {
    .container {
    
    width: 90vw;
    margin: 10px;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 13% 25% 62% 10%;
    grid-template-areas:"header header"
    "about skills"
    "experience skills"
    "footer footer";

    }
    ul{
        
        list-style:none;
        display:flex;
        flex-flow:column wrap;
        justify-content:end;
        
        
    }



}




    @media only screen and (min-width : 1200px) {
    .container {

    width: 90vw;
    grid-template-columns: 25% 50% 25% ;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: "header header header"
    "about experience skills"
    "footer footer footer";
    }
    }